* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --primary-color: #283618;
    --secondary-color: #fefae0;
    --adding-color-1: #ffc29e;
    --adding-color-2: #fbeffd;
    --adding-color-3: #a5e1d4;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* font-family: "ZTKlotin", Georgia; */
    font-family: "Imprima", sans-serif;
    /* font-family: "Sora", sans-serif; */
    font-size: 1.6rem;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    font-family: sora;
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.05;
}
a:hover {
    /* font-weight: 600; */
    text-shadow: 1.1px 0 0 currentColor;
}
h1 {
    text-align: center;
    font-size: 8.2rem;
    font-family: ZTKlotin;
    line-height: 1.2;
    letter-spacing: 0.41rem;
    color: var(--primary-color);
    max-width: 874px;
    margin-bottom: 2em;
}

h2 {
    text-align: center;
    font-size: 7rem;
    font-family: ZTKlotin;
    line-height: 1.2;
    letter-spacing: 0.41rem;
    color: var(--primary-color);
    max-width: 874px;
    /* margin-bottom: 3em; */
    margin: auto;
}

h3 {
    text-align: center;
    font-size: 4.2rem;
    font-family: ZTKlotin;
    line-height: 1.2;
    letter-spacing: 0.2rem;
    color: #000;
    margin-bottom: 20px;
}
p {
    text-align: center;
    line-height: 120%;
    letter-spacing: 0.03rem;
    color: var(--primary-color);
    max-width: 730px;
    margin: 1em auto 0 auto;
}
img {
    height: 100%;
    object-fit: cover;
}
/* header */
.header {
    min-height: 100vh;
    background-color: var(--secondary-color);
    /* position: relative; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 1em 3em;
    position: fixed;
    z-index: 2;
    margin: 0 auto;
    max-width: 1440px;
    /* width: calc(100% - 48px); */
    background-color: var(--secondary-color);
    left: 0;
    right: 0;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
}

.navbar__link {
    padding: 10px 20px;
}
.navbar__link:hover {
    border-bottom: 2px solid var(--primary-color);
}
/* header content */
/* .header-content {
    padding-top: 130px;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
} */
.header-content {
    padding-top: 130px;
    padding-bottom: 130px;
    min-height: calc(100vh);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-column-gap: 3%;
    grid-template-areas:
        "header header header header"
        "desc desc desc desc"
        "about about img img"
        "about about img img"
        "aa time img img";
}

.header-content__heading {
    grid-area: header;
    margin: 0 auto;
}
.header-content__desc {
    grid-area: desc;
    margin-bottom: 5.5em;
}
.header-content__about {
    grid-area: about;
    width: 433px;
    height: 406px;
    border-radius: 0px 170px 0 189px;
    background-color: var(--adding-color-1);
}
.header-content__about p {
    display: none;
    text-align: left;
    width: 396px;
    margin: 0 auto;
    align-self: center;
    padding-top: 94px;
}
.header-content__img {
    grid-area: img;
    height: 620px;
    width: 543px;
    border-radius: 999px 999px 0 0;
    overflow: hidden;
    position: relative;
}
.header-content__img--item1,
.header-content__img--item2,
.header-content__img--item3,
.header-content__img--item4 {
    width: 10%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: zoom-out 3s linear infinite;
    transition: 0.25s ease;
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

/* animation */
.header-content__img--item1 {
    animation: slide1 5s linear infinite;
}
.header-content__img--item2 {
    animation: slide2 5s linear infinite;
}
.header-content__img--item3 {
    animation: slide3 5s linear infinite;
}
.header-content__img--item4 {
    animation: slide4 5s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.header-content__time {
    grid-area: time;
    border-radius: 110px 0px;
    background: var(--primary-color);
    width: 298px;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
.header-content__time strong {
    color: var(--adding-color-2);
    font-size: 2 rem;
    font-family: Sora;
    font-weight: 700;
    line-height: 120%;
}
.header-content__time p {
    color: var(--adding-color-2);
    margin-top: 10px;
    max-width: 194px;
}

/* about */
.aboutus {
    padding: 15em 0;
}
.about-us__heading {
    margin-bottom: 2em;
}
.about-us__content {
    display: flex;
    justify-content: space-between;
}
.about-us__content p {
    text-align: left;
    width: 50%;
}
.about-us__content p:first-child {
    font-family: sora;
    font-weight: 700;
    width: 20%;
    margin: auto;
    text-transform: uppercase;
}

/* services */
.service {
    padding: 15em 0 1em 0em;
    background-color: var(--secondary-color);
}
.service-list {
    display: flex;
    justify-content: center;
    margin: 10em 0 3em 0;
    column-gap: 6em;
}

.service-list__item {
    flex-shrink: 0;
    width: 295px;
    min-height: 400px;
    background-color: #ffff;
    border-radius: 47% 47% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    outline: 30px solid var(--adding-color-2);
}
.service-list__item:first-child {
    outline: 30px solid var(--adding-color-1);
}
.service-list__item:last-child {
    outline: 30px solid var(--adding-color-3);
}
.service-list__item p {
    width: 210px;
}
/* preis */
.preis {
    height: 1000px;
    padding: 15em 0;
    background-color: var(--secondary-color);
}
/* experten */
.experten {
    padding: 15em 0;
}
.personal {
    display: flex;
    position: relative;
    margin-top: 3em;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
}
.personal:first-child {
    margin-top: 8em;
}
.personnal__img {
    max-width: 290px;
    max-height: 290px;
    border-radius: 50%;
    position: absolute;
    left: 0em;
    box-shadow: 9px 0px 31px 0px rgba(0, 0, 0, 0.25);

    background-color: var(--adding-color-1);
}
.personal__img--ava {
    height: 300px;
    width: 300px;
}
.personal__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% * 0.83);
    min-height: 355px;
    padding: 0 9em 0 16em;
    border-radius: 999px 50px 50px 999px;
    background-color: var(--adding-color-1);
    font-size: 1.6rem;
}

.personal__content--box {
    width: 530px;
}
.personal__content--title,
.personal__content--untertitle,
.personal__content--desc {
    text-align: left;
}
.personal__content--untertitle {
    text-transform: uppercase;
    color: #000;
    font-size: 1.8;
    font-family: Sora;
    line-height: 1.2;
    letter-spacing: 0.3;
    text-transform: uppercase;
}

.color-2 .personal__content,
.color-2 .personnal__img {
    background-color: var(--adding-color-2);
}
.color-3 .personal__content,
.color-3 .personnal__img {
    background-color: var(--adding-color-3);
}

/* gallerie*/
.gallerie {
    padding: 15em 0 15em 0;
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}
.gallerie__desc {
    margin-bottom: 5em;
}
.gallerie-overflow {
    overflow: hidden;
    max-height: 500px;
    border-radius: 30px;
}
.gallerie-list {
    /* display: flex;
    align-content: center; */
    width: 500px;
    height: 100vw;
    transform: rotate(-90deg) translateY(-500px);
    transform-origin: top right;
    overflow-x: hidden;
    overflow-y: auto;
}

.gallerie-list div {
    position: relative;
    width: 100%;
    height: 500px;
    transform: rotate(90deg);
}
.gallerie-list img {
    max-width: 500px;
    /* max-height: 100px; */
    object-fit: contain;
}
/* contact */
.contact {
    padding: 15em 0;
    background-color: var(--secondary-color);
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    margin-top: 5em;
    width: 100%;
    height: 40vh;
    border-radius: 16px;
}

/* footer */
.footer {
    padding: 9em 0 2em;
    background-color: var(--primary-color);
}
.footer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
}
.footer-list::after {
    content: "";
    display: inline-block;
    border-bottom: 1.5px solid var(--secondary-color);
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 3em 0 0.5em 0;
    opacity: 0.2;
}
.footer-socials,
.footer-logo {
    display: flex;
    flex-direction: column;
}
.footer__desc,
.footer strong {
    color: #fbeffd;
    font-family: "Sora";
    font-weight: 500;
}

.footer strong {
    margin-bottom: 2em;
}
.footer__socials {
    color: #ffff;
    margin-right: 0.5em;
    transition: ease 0.25s;
}
.footer__socials:hover {
    color: #a5e1d4;
}
.footer__img {
    height: auto;
    width: 4em;
}
.footer__desc {
    margin-top: 2em;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__socials {
    display: inline-block;
    left: 0;
}

.copyright {
    color: #fbeffd;
    margin: 1em auto 0 auto;
    display: block;
    text-align: center;
    font-family: "Sora";
}
